
    <h2>Alta de productos</h2>

    <form id="formulario" action="/productos" method="post" enctype="application/x-www-form-urlencoded">
      <label for="nombreProd">Nombre</label>
      <input type="text" id="nombreProd" name="name" /><br />
      <label for="thumbProd">Price</label>
      <input type="number" id="precioProd" name="price" /><br />
      <label for="thumbProd">Foto URL</label>
      <input type="text" id="thumbProd" name="thumbnail" /><br />
    </form>

<button class="btn btn-success" onclick='goProducts()'>VER PRODUCTOS</button>
<button id="botonSubmit" class="btn btn-primary">ENVIAR</button>